In [1]:
import numpy as np
import pandas as pd
from riotwatcher import LolWatcher, ApiError

In [2]:
key = 'RGAPI-aa901cbf-7bfc-4df4-a88d-c3280cf6a11c'
watcher = LolWatcher(key)
my_region = 'na1'

In [3]:
me = watcher.summoner.by_name(my_region, 'Doublelift')
print(me)

{'id': 'TBUFzyVHLHDaoWRRay3KHO8uJFwJ2NbKsUuAa4eWwjANnm4', 'accountId': '7l0dFS12Qn_S7EqoD1Futbxv4OAxMnAfXDdHHs2rzVpuag', 'puuid': '5YwxI7bu3ZTpvyxqq4AUKpsG3e76RpLTu3z_hx7cHjSRELswIHow0wxed_0R2B7OqVwVkUbdkxevGA', 'name': 'Doublelift', 'profileIconId': 4568, 'revisionDate': 1590816992000, 'summonerLevel': 185}

In [14]:
my_ranked_stats = lol_watcher.league.by_summoner(my_region, me['id'])
print(my_ranked_stats)

NameError: name 'lol_watcher' is not defined

In [5]:
my_matches = watcher.match.matchlist_by_account(my_region, me['accountId'])

# fetch last match detail
last_match = my_matches['matches'][1]
match_detail = watcher.match.by_id(my_region, last_match['gameId'])

participants = []
for row in match_detail['participants']:
    participants_row = {}
    participants_row['team'] = row['teamId']
    participants_row['kills'] = row['stats']['kills']
    participants_row['deaths'] = row['stats']['deaths']
    participants_row['assists'] = row['stats']['assists']
    participants_row['totalDamageDealt'] = row['stats']['totalDamageDealt']
    participants_row['magicDamageDealt'] = row['stats']['magicDamageDealt']
    participants_row['physicalDamageDealt'] = row['stats']['physicalDamageDealt']
    participants_row['physicalDamageDealt'] = row['stats']['physicalDamageDealt']
    participants_row['totalDamageDealtToChampions'] = row['stats']['totalDamageDealtToChampions']
    participants_row['magicDamageDealtToChampions'] = row['stats']['magicDamageDealtToChampions']
    participants_row['physicalDamageDealtToChampions'] = row['stats']['physicalDamageDealtToChampions']
    participants_row['trueDamageDealtToChampions'] = row['stats']['trueDamageDealtToChampions']    
    participants_row['goldEarned'] = row['stats']['goldEarned']
    participants_row['champLevel'] = row['stats']['champLevel'] #average
    participants_row['totalMinionsKilled'] = row['stats']['totalMinionsKilled']
    participants_row['largestMultiKill'] = row['stats']['largestMultiKill']
    participants_row['killingSprees'] = row['stats']['killingSprees']
    participants_row['doubleKills'] = row['stats']['doubleKills']
    participants_row['tripleKills'] = row['stats']['tripleKills']
    participants_row['quadraKills'] = row['stats']['quadraKills']
    participants_row['pentaKills'] = row['stats']['pentaKills']
    participants_row['longestTimeSpentLiving'] = row['stats']['longestTimeSpentLiving']
    participants_row['totalHeal'] = row['stats']['totalHeal']
    participants_row['damageDealtToObjectives'] = row['stats']['damageDealtToObjectives']
    participants_row['damageDealtToObjectives'] = row['stats']['damageDealtToObjectives']
    participants_row['damageDealtToTurrets'] = row['stats']['damageDealtToTurrets']
    participants_row['visionScore'] = row['stats']['visionScore']
    participants_row['timeCCingOthers'] = row['stats']['timeCCingOthers']
    participants_row['totalDamageTaken'] = row['stats']['totalDamageTaken']
    participants_row['magicalDamageTaken'] = row['stats']['magicalDamageTaken']
    participants_row['physicalDamageTaken'] = row['stats']['physicalDamageTaken']   
    participants_row['trueDamageTaken'] = row['stats']['trueDamageTaken']   
    participants.append(participants_row)
    
df = pd.DataFrame(participants)
df

,team,kills,deaths,assists,totalDamageDealt,magicDamageDealt,physicalDamageDealt,totalDamageDealtToChampions,magicDamageDealtToChampions,physicalDamageDealtToChampions,...,longestTimeSpentLiving,totalHeal,damageDealtToObjectives,damageDealtToTurrets,visionScore,timeCCingOthers,totalDamageTaken,magicalDamageTaken,physicalDamageTaken,trueDamageTaken
0,100,3,3,5,193445,160329,25430,19375,16702,1367,...,921,2984,8239,1010,31,6,23526,11890,9658,1976
1,100,3,5,8,200991,166078,24814,16631,15250,641,...,679,14531,22781,774,40,0,26901,10968,15454,478
2,100,7,4,2,194614,22310,164018,23604,2928,20676,...,696,4690,5232,3748,28,12,28973,9342,16029,3601
3,100,7,4,3,228533,32417,192680,26237,9212,16507,...,1092,1133,6429,3775,41,5,23837,9806,13672,358
4,100,2,1,13,18197,16553,1644,12547,11672,874,...,662,18410,1377,988,47,11,4283,1639,2644,0
5,200,3,8,2,173568,0,171770,17371,0,15573,...,428,4355,7379,4661,24,43,35767,10457,24261,1048
6,200,8,2,4,237558,209943,15311,18554,17057,913,...,1856,5977,22283,3932,19,8,18336,10393,7791,152
7,200,3,3,11,264087,188084,57855,21764,18858,1223,...,663,19498,50546,4624,36,2,39571,15505,23778,287
8,200,3,5,4,223133,3462,209154,15999,719,14629,...,712,4370,8425,3929,31,14,20404,10881,8729,793
9,200,0,4,12,22815,12887,5470,6868,4595,1232,...,668,11933,3447,2634,107,26,19541,13013,6246,281

In [6]:
df_grouped = df.groupby(["team"]).sum()
df_grouped

,kills,deaths,assists,totalDamageDealt,magicDamageDealt,physicalDamageDealt,totalDamageDealtToChampions,magicDamageDealtToChampions,physicalDamageDealtToChampions,trueDamageDealtToChampions,...,longestTimeSpentLiving,totalHeal,damageDealtToObjectives,damageDealtToTurrets,visionScore,timeCCingOthers,totalDamageTaken,magicalDamageTaken,physicalDamageTaken,trueDamageTaken
team,,,,,,,,,,,,,,,,,,,,,
100,22,17,31,835780,397687,408586,98394,55764,40065,2561,...,4050,41748,44058,10295,187,34,107520,43645,57457,6413
200,17,22,33,921161,414376,459560,80556,41229,33570,5752,...,4327,46133,92080,19780,217,93,133619,60249,70805,2561

In [7]:
team = []
for row in match_detail['teams']:
    team_row = {}
    team_row['team'] = row['teamId']
    team_row['firstBlood'] = row['firstBlood']    
    team_row['firstTower'] = row['firstTower'] 
    team_row['firstBaron'] = row['firstBaron'] 
    team_row['firstDragon'] = row['firstDragon'] 
    team_row['firstBlood'] = row['firstBlood']    
    team_row['firstRiftHerald'] = row['firstRiftHerald'] 
    team_row['towerKills'] = row['towerKills'] 
    team_row['inhibitorKills'] = row['inhibitorKills']     
    team_row['baronKills'] = row['baronKills'] 
    team_row['dragonKills'] = row['dragonKills']    
    team_row['riftHeraldKills'] = row['riftHeraldKills']    
    team.append(team_row)

team_df = pd.DataFrame(team)
team_df

,team,firstBlood,firstTower,firstBaron,firstDragon,firstRiftHerald,towerKills,inhibitorKills,baronKills,dragonKills,riftHeraldKills
0,100,True,False,False,False,False,3,0,0,2,1
1,200,False,True,True,True,True,8,1,2,3,1

In [8]:
team_df.merge(df_grouped, on = "team")

,team,firstBlood,firstTower,firstBaron,firstDragon,firstRiftHerald,towerKills,inhibitorKills,baronKills,dragonKills,...,longestTimeSpentLiving,totalHeal,damageDealtToObjectives,damageDealtToTurrets,visionScore,timeCCingOthers,totalDamageTaken,magicalDamageTaken,physicalDamageTaken,trueDamageTaken
0,100,True,False,False,False,False,3,0,0,2,...,4050,41748,44058,10295,187,34,107520,43645,57457,6413
1,200,False,True,True,True,True,8,1,2,3,...,4327,46133,92080,19780,217,93,133619,60249,70805,2561

In [9]:
match_detail['teams']

[{'teamId': 100,
  'win': 'Fail',
  'firstBlood': True,
  'firstTower': False,
  'firstInhibitor': False,
  'firstBaron': False,
  'firstDragon': False,
  'firstRiftHerald': False,
  'towerKills': 3,
  'inhibitorKills': 0,
  'baronKills': 0,
  'dragonKills': 2,
  'vilemawKills': 0,
  'riftHeraldKills': 1,
  'dominionVictoryScore': 0,
  'bans': [{'championId': 122, 'pickTurn': 1},
   {'championId': 110, 'pickTurn': 2},
   {'championId': 429, 'pickTurn': 3},
   {'championId': 11, 'pickTurn': 4},
   {'championId': 157, 'pickTurn': 5}]},
 {'teamId': 200,
  'win': 'Win',
  'firstBlood': False,
  'firstTower': True,
  'firstInhibitor': True,
  'firstBaron': True,
  'firstDragon': True,
  'firstRiftHerald': True,
  'towerKills': 8,
  'inhibitorKills': 1,
  'baronKills': 2,
  'dragonKills': 3,
  'vilemawKills': 0,
  'riftHeraldKills': 1,
  'dominionVictoryScore': 0,
  'bans': [{'championId': 266, 'pickTurn': 6},
   {'championId': 110, 'pickTurn': 7},
   {'championId': 875, 'pickTurn': 8},
   {'championId': 203, 'pickTurn': 9},
   {'championId': 104, 'pickTurn': 10}]}]